<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="false"
>
	<testsuites>
		<testsuite name="Mebuki Portfolio Manager Test Suite">
			<directory suffix=".php">tests</directory>
		</testsuite>
	</testsuites>

	<php>
		<env name="WP_TESTS_DIR" value="/tmp/wordpress-tests-lib"/>
		<env name="WP_TESTS_DOMAIN" value="example.org"/>
		<env name="WP_TESTS_EMAIL" value="admin@example.org"/>
		<env name="WP_TESTS_TITLE" value="Mebuki Test Site"/>
		<env name="WP_TESTS_DB_HOST" value="127.0.0.1"/>
		<env name="WP_TESTS_DB_NAME" value="wordpress_test"/>
		<env name="WP_TESTS_DB_USER" value="root"/>
		<env name="WP_TESTS_DB_PASSWORD" value="root_password"/>
	</php>
</phpunit>
